In [1]:
import pandas as pd
pd.set_option('display.max_colwidth',1)

In [2]:
data = pd.read_csv("groceries.csv",error_bad_lines=False,header=None,warn_bad_lines=False)

In [3]:
data.apply(data.value_counts).sum(axis=1).sort_values(ascending=False)

whole milk          859.0
soda                773.0
rolls/buns          770.0
other vegetables    531.0
canned beer         502.0
                    ...
ready soups         2.0
make up remover     2.0
kitchen utensil     1.0
salad dressing      1.0
toilet cleaner      1.0
Length: 165, dtype: float64

In [4]:
records = []
for i in range((len(data))):
    records.append([str(data.values[i,j]) for j in range(0, data.shape[1])])

In [5]:
from mlxtend.preprocessing.transactionencoder import TransactionEncoder

te = TransactionEncoder()
te_data = te.fit(records).transform(records)
df = pd.DataFrame(te_data, columns = te.columns_)
df = df.drop(("nan"),axis=1)
df.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [6]:
from mlxtend.frequent_patterns import apriori

df1 = apriori(df, min_support=0.003, use_colnames = True, verbose=1)
df1.head()

Processing 1683 combinations | Sampling itemset size 32

    support                 itemsets
0  0.003112  (Instant food products)
1  0.015558  (UHT-milk)
2  0.004913  (baking powder)
3  0.023911  (beef)
4  0.012283  (berries)

In [7]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(df1, metric = "confidence", min_threshold = 0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(liquor),(bottled beer),0.010481,0.066492,0.005896,0.5625,8.459667,0.005199,2.133733
1,"(sausage, soda)",(rolls/buns),0.006878,0.126105,0.003439,0.5000,3.964935,0.002572,1.747789

## Own Dataset

In [8]:
df=pd.read_csv("MLData.csv")

In [9]:
columns=["Timestamp","Level","Class","Scale","Gender","Age","Residence","RelationshipStatus","FinanceState","CopeWithInstitute","RelationWithFamily","Pressure","AcademicResult","LivingPlace","SupportedBy","SocialMediaIn6","InferiorityComplex","MealSatisfaction","Health","OtherPositiveActivity","SleepTime"]

In [10]:
df.columns=columns

In [11]:
df=df.drop(['Scale','Timestamp'],axis=1)
def NameCopeWithInstitute(x):
    if x==1:
        return "DefinitelyNotSuccessful"
    elif x==2:
        return "ProbablyNotSuccessful"
    elif x==3:
        return "PossiblySuccessful"
    elif x==4:
        return "ProbablySuccessful"
    elif x==5:
        return "DefinitelySuccessful"
    

df['CopeWithInstitute']=df['CopeWithInstitute'].apply(NameCopeWithInstitute)
df['FinanceState']=df['FinanceState'].apply(lambda x: 'GoodFinance' if x=="Yes" else "BadFinance")
df['RelationWithFamily']=df['RelationWithFamily'].apply(lambda x: x+"RelationWithFamily")
df['Pressure']=df['Pressure'].apply(lambda x: x+"Pressure")
df['AcademicResult']=df['AcademicResult'].apply(lambda x: "Result"+x)
df['LivingPlace']=df['LivingPlace'].apply(lambda x: "LivingPlace"+x)
df['SupportedBy']=df['SupportedBy'].apply(lambda x: "SupportedBy"+x)
df['SocialMediaIn6']=df['SocialMediaIn6'].apply(lambda x: x+"SocialMediaIn6")
df['InferiorityComplex']=df['InferiorityComplex'].apply(lambda x: x+"InferiorityComplex")
df['MealSatisfaction']=df['MealSatisfaction'].apply(lambda x: x+"MealSatisfaction")
df['Health']=df['Health'].apply(lambda x: x+"Health")
df['OtherPositiveActivity']=df['OtherPositiveActivity'].apply(lambda x: x+"OtherPositiveActivity")
df['SleepTime']=df['SleepTime'].apply(lambda x: "SleepTime"+str(x))

In [12]:
records = []
for i in range((len(df))):
    records.append([str(df.values[i,j]) for j in range(0, df.shape[1])])

In [13]:
from mlxtend.preprocessing.transactionencoder import TransactionEncoder

te = TransactionEncoder()
te_data = te.fit(records).transform(records)
df = pd.DataFrame(te_data, columns = te.columns_)
#df = df.drop(("nan"),axis=1)
df.head()

,19,1st year,20,21,22,2nd year,3rd year,4th year,Bad,BadFinance,...,SleepTime8,SupportedByFriends,SupportedByNo one,Very bad,Very good,YesInferiorityComplex,YesMealSatisfaction,YesOtherPositiveActivity,YesPressure,YesSocialMediaIn6
0,False,False,False,False,True,False,False,True,False,False,...,True,False,True,False,False,True,True,False,False,True
1,True,True,False,False,False,False,False,False,True,True,...,True,False,True,False,False,True,False,False,False,True
2,False,False,True,False,False,True,False,False,False,True,...,True,False,True,False,False,True,True,True,False,True
3,False,False,False,True,False,False,True,False,False,False,...,True,False,True,False,True,True,True,False,False,True
4,False,False,False,False,True,False,False,True,False,False,...,False,False,True,False,False,True,True,True,False,True

In [14]:
from mlxtend.frequent_patterns import apriori

df1 = apriori(df, min_support=0.8, use_colnames = True, verbose=1)
df1.head()

Processing 18 combinations | Sampling itemset size 6

    support                    itemsets
0  1.000000  (Male)
1  1.000000  (NoHealth)
2  0.823529  (NoPressure)
3  1.000000  (NormalRelationWithFamily)
4  0.803922  (Single)

In [15]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(df1, metric = "confidence", min_threshold = 0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Male),(NoHealth),1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,inf
1,(NoHealth),(Male),1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,inf
2,(Male),(NoPressure),1.000000,0.823529,0.823529,0.823529,1.000000,0.000000,1.000000
3,(NoPressure),(Male),0.823529,1.000000,0.823529,1.000000,1.000000,0.000000,inf
4,(Male),(NormalRelationWithFamily),1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,inf
...,...,...,...,...,...,...,...,...,...
765,(YesInferiorityComplex),"(Male, SupportedByNo one, NoHealth, YesSocialMediaIn6, NormalRelationWithFamily)",0.882353,0.901961,0.843137,0.955556,1.059420,0.047290,2.205882
766,(SupportedByNo one),"(Male, YesInferiorityComplex, NoHealth, YesSocialMediaIn6, NormalRelationWithFamily)",0.941176,0.843137,0.843137,0.895833,1.062500,0.049596,1.505882
767,(NoHealth),"(Male, YesInferiorityComplex, SupportedByNo one, YesSocialMediaIn6, NormalRelationWithFamily)",1.000000,0.843137,0.843137,0.843137,1.000000,0.000000,1.000000
768,(YesSocialMediaIn6),"(Male, YesInferiorityComplex, SupportedByNo one, NoHealth, NormalRelationWithFamily)",0.960784,0.882353,0.843137,0.877551,0.994558,-0.004614,0.960784
769,(NormalRelationWithFamily),"(Male, YesInferiorityComplex, SupportedByNo one, NoHealth, YesSocialMediaIn6)",1.000000,0.843137,0.843137,0.843137,1.000000,0.000000,1.000000